:host {
  pointer-events: none;
}

:host > div {
  pointer-events: auto;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

@media (max-width: 640px) {
  :host > div {
    top: 1rem;
    right: 1rem;
    left: 1rem;
    max-width: none;
  }
}
